@import "_font-face.styl"
@import "_libs.styl"
@import "_vars.styl"

// all
*
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	&:before, &:after
		-webkit-box-sizing border-box
		-moz-box-sizing border-box
		box-sizing border-box

// placeholder
*::-webkit-input-placeholder,
*:-moz-placeholder,
*::-moz-placeholder,
*:-ms-input-placeholder
	color #666
	opacity 1

// input required valid/invalid
body input:focus:required:invalid,
body textarea:focus:required:invalid
	color #666
body input:required:valid,
body textarea:required:valid
	color #666

html, body
	height 100%

body
	font-size 16px
	min-width 320px
	position relative
	line-height 1.65
	font-family $default-font
	overflow-x hidden
	margin 0

img
	display block
	max-width 100%
	height auto

.content
	margin 20px
	a
		position relative
		// border-bottom .1em solid blue
		text-decoration none
		color #2f56b0
		padding-bottom 3px
		transition color .4s ease-out
		&::after
			border-radius 1em
			border-top .1em solid #2f56b0
			content: ''
			position absolute
			right 100%
			bottom .14em
			left 0
			transition right .4s cubic-bezier(0, .5, 0, 1), border-color .4s ease-out
		&:hover
			text-decoration none
			color: #457dfb
			&::after		
				animation anchor-underline 1s cubic-bezier(0, .5, 0, 1) infinite
				border-color #456dfb

@keyframes anchor-underline {
	0%, 10% {
		left 0
		right 100%
	}
	40%, 60% {
		left 0
		right 0
	}
	90%, 100% {
		left 100%
		right 0
	}
}


@import "_media.styl" // Always at the end
